[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=1800s

[defaults]
forks = 19
host_key_checking = False
callback_whitelist = profile_tasks
